@font-face {
    font-family: 'JejuGothic';
    src: url('font/JejuGothic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
body {
    background-color: rgb(225, 248, 234);
    margin: 50px;
}
h1 {
    text-align: center;
    border-bottom: 5px solid rgb(171, 171, 171);
    margin: 0;
    padding: 20px;
    font-family: 'JejuGothic';
    font-size: 70px;
    color: rgb(0, 245, 53);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(192, 211, 195);
}
h2 {
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    color: #028b6e;
}
ul {
    list-style: none;
    padding: 1px;
    margin: 50px;
}
li {
    font-family: '맑은고딕';
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}